*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(images/whitewall.jpg);
	background-size: center;
}
#game-container{
	margin-top: 120px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid grey;
	height: 500px;
	background-color: rgba(125,116,115,0.5);
}

#title{
	text-align: center;
	color: black;
	font-family: 'Faster One', cursive;
	font-size: 70px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

#game-buttons {
	text-align: center;
}

#description {
	text-align: center;
	color: black;
	font-size: 25px;
	font-family: 'Caveat', cursive;
}

button {
	padding: 5px 10px 5px 10px;
	margin: 10px;
	background-color: rgb(64, 57, 57);
	color: rgb(201, 201, 201);
	border: 1px solid black;
}

button:hover{
	background-color: rgb(101, 102, 101);
}

button:focus {
	outline:0;
}